<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag 'logo_beta.png', class: "logo-beta" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mt-2">
            <% if user_signed_in? %>
            <li class="nav-item mt-2">
                <h5 class="mt-1">
                    <%= current_user.email %>
                </h5>
            </li>
            <li class="userimage">
                <%= image_tag "user_default.png", class: "avatar", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            </li>
            <li class="nav-item mt-2">
                <h5 class="mt-1 pl-2">
                    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "logout-item" %>
                    <%= link_to "About", about_path, class:"about" %>
                </h5>
            </li>
            <% else %>
            <h5> <%= link_to "About", about_path, class:"about" %></h5>
            <% end %>
        </ul>
    </div>
</div>